body {
    background-color: grey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.container{
    background-color: white;
    border: 1px solid darkgrey;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 30%;
    padding: 1.5em;
}

.container h1 {
    font-family: Arial;
    font-weight: 300;
    font-size: 1.5em;
    color: #504d4d;
    padding-bottom: .2em;
}

.container p {
    font-size: .9em;
    margin-bottom: 0;
}

.container a {
    font-size: .9em;
    text-decoration: none;
}

form {
    margin-top: 29px;
}
form #email{
    display: block;
}
